$mainColor:hsl(0, 0%, 100%);
$tilesColor:hsl(0, 0%, 0%);
$textColor: hsl(0, 0%, 55%);
$mainMargin:6%;
$TitelsFontFamily:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$textFontFamily:Verdana, Geneva, Tahoma, sans-serif;
$titleFontWeight:300;