body {
  margin: 0%;
  padding: 0%;
  position: relative;
}

.slidein {
  background-color: black;
  height: 100%;
}

header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  color: white;
  height: 100vh;
  font-size: large;
}
header #navBar {
  display: none;
}
header #menuMobiel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 1s;
}
header #menuMobiel h3 {
  padding-left: 5%;
  padding-top: 5%;
}
header #menuMobiel #Menuburger {
  position: absolute;
  top: 40%;
  left: 70%;
  width: 15%;
  height: 20;
}
header #menuMobiel #close {
  position: absolute;
  top: 5%;
  left: 80%;
  width: 5%;
  height: 5%;
  display: none;
}
header #menuMobiel ul {
  margin-top: 20%;
  display: none;
}
header #menuMobiel a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
header li {
  list-style: none;
  margin-right: 5%;
  margin-bottom: 5%;
}

h1 {
  border: 2px solid white;
  width: 80%;
  margin-top: 20%;
  font-size: 50px;
  color: white;
  font-weight: 300;
  font-family: 300;
  margin-left: 10%;
  padding-left: 5%;
}

@media (min-width: 600px) {
  header {
    padding-top: 5%;
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    color: white;
    height: 80vh;
    font-size: large;
  }
  header #menuMobiel {
    display: none;
  }
  header #Menuburger {
    display: none;
  }
  header #close {
    display: none;
  }
  header #navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  header #navBar .nav-link {
    font-size: 18px;
    color: white;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
  }
  header #navBar .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #f6f7f8;
  }
  header #navBar .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  header #navBar .nav-link-ltr:hover::before {
    width: 100%;
  }
  header #navBar h3 {
    font-size: 40px;
    color: white;
    font-weight: 400;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-right: 20%;
  }
  header #navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header #navBar ul a {
    text-decoration: none;
    color: white;
  }
  header #navBar ul li {
    list-style: none;
    margin-right: 5%;
  }
  header h1 {
    font-size: 55px;
    color: white;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    width: 28vw;
    height: 30vh;
    margin: 6%;
    text-transform: uppercase;
    margin-right: 6%;
    padding-left: 3%;
  }
}
#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

img {
  width: 85%;
  margin-right: 6%;
  padding: 0 3% 0 3%;
  transition: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
img:hover {
  opacity: 0.7;
}

#text h2 {
  font-size: 50px;
  color: black;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  padding-left: 8%;
}
#text p {
  font-size: 20px;
  color: #8c8c8c;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

@media (min-width: 600px) {
  #presentation {
    position: relative;
    height: 80vh;
    width: 100%;
  }
  #presentation img {
    height: 60vh;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
  }
  #presentation #text {
    background-color: white;
    width: 40%;
    height: 40vh;
    position: absolute;
    top: 40%;
    left: 52%;
    text-align: center;
  }
}
#cearation #title h2 {
  font-size: 40px;
  color: black;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  padding-left: 8%;
}
#cearation #title button {
  width: 40vw;
  height: 5vh;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  display: none;
  text-transform: uppercase;
}

.backgroundImg {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: transform;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  border: 2px inset white;
}
.backgroundImg:hover {
  opacity: 0.8;
  transform: scaley(1.1);
}

figure p {
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  padding-left: 4%;
  width: 35%;
  word-wrap: break-word;
}
figure #deep {
  background-image: url(../images/mobile/image-deep-earth.jpg);
}
figure #night {
  background-image: url(../images/mobile/image-night-arcade.jpg);
}
figure #soccer {
  background-image: url(../images/mobile/image-soccer-team.jpg);
}
figure #grid {
  background-image: url(../images/mobile/image-grid.jpg);
}
figure #from {
  background-image: url(../images/mobile/image-from-above.jpg);
}
figure #pocket {
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}
figure #curiosity {
  background-image: url(../images/mobile/image-curiosity.jpg);
}
figure #fisheye {
  background-image: url(../images/mobile/image-fisheye.jpg);
}
figure button {
  width: 40vw;
  height: 5vh;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  margin-left: 25%;
  text-transform: uppercase;
}
figure button:hover {
  background-color: black;
  color: white;
}

@media (min-width: 600px) {
  #cearation {
    margin-top: 5%;
  }
  #cearation #title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 5%;
  }
  #cearation #title button {
    display: block;
    height: 5vh;
    width: 10vw;
  }
  #cearation #title button:hover {
    background-color: black;
    color: white;
  }
  #cearation figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #cearation figure p {
    font-size: 25px;
    color: white;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    text-transform: uppercase;
    width: 50%;
  }
  #cearation figure .backgroundImg {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    color: white;
    height: 50vh;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 3%;
  }
  #cearation figure #deep {
    background-image: url(../images/desktop/image-deep-earth.jpg);
  }
  #cearation figure #night {
    background-image: url(../images/desktop/image-night-arcade.jpg);
  }
  #cearation figure #soccer {
    background-image: url(../images/desktop/image-soccer-team.jpg);
  }
  #cearation figure #grid {
    background-image: url(../images/desktop/image-grid.jpg);
  }
  #cearation figure #from {
    background-image: url(../images/desktop/image-from-above.jpg);
  }
  #cearation figure #pocket {
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
  }
  #cearation figure #curiosity {
    background-image: url(../images/desktop/image-curiosity.jpg);
  }
  #cearation figure #fisheye {
    background-image: url(../images/desktop/image-fisheye.jpg);
  }
  #cearation figure button {
    display: none;
  }
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
footer #contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .attribution p {
  color: #8c8c8c;
}
footer h3 {
  color: white;
}
footer .icon {
  width: 5vw;
  height: 5vh;
  padding-left: 2%;
  cursor: pointer;
  transition: ease-out 0.4s;
}
footer .icon:hover {
  opacity: 0.4;
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
}
footer #navFooter ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #navFooter ul li {
  margin-bottom: 30%;
  list-style: none;
}
footer #navFooter ul li a {
  text-decoration: none;
  color: white;
  padding-top: 20%;
}
footer #attribution {
  color: white;
}

@media (min-width: 600px) {
  footer {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    position: relative;
  }
  footer #contact {
    position: absolute;
    top: 15%;
    left: 80%;
  }
  footer .icon {
    width: 3vw;
    height: 3vh;
  }
  footer #navFooter h3 {
    padding-left: 20%;
    font-size: 30px;
  }
  footer #navFooter ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer #navFooter ul li {
    margin-left: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
